doctype html
a(href=`/myProfile`) back to my profile
br
h1 Add New WorkShop
label title: 
input#title(type='text')

button#newArt(type='button' onclick='addWorkshop()') Add New WorkShop
script(src='/client.js')