
.column {
    float: left;
}

.left {
    width: 30%;
    float: left
}

.middle {
    float: center;
    width: 40%; 
}

.right{
    width: 30%;
    float: right;
}

body {
    background-color: lightblue;
  }

